/.idea/
/node_modules
/public/hot
/public/*.js
/public/storage/avatars
/storage/*.key
/vendor
/public/js/app.js
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.rnd
/public/mix-manifest.json
package.json
/storage
package-lock.json
/public/tempimg.png
package-lock.json
